nav {
    color: black;
    text-decoration: none;
}
ul{
    height: 30px;
    background-color:lightblue;
    list-style: none;
    display: flex;
    justify-content:left;
    align-items:left;
    gap: 20px;
}
a:hover{
    color: black;
    background-color:white;
    height: 29px  ;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(45deg, #3949ab, #5c6bc0);
  color: white;
}

.btn {
  background: white;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.section {
  padding: 40px;
  text-align: center;
}

input, textarea, select {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background: #3949ab;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px #aaa;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #e8eaf6;
}

footer {
  background: #2c2f4a;
  color: white;
  text-align: center;
  padding: 10px;
}
